{% if seo is defined %}
    {% block seo %}
        {% block seo_meta_title %}
            {% set metaTitle = seo.getMetaTitle()|striptags|trim %}
            {% if seo.prefix is not empty and not (metaTitle starts with seo.prefix) %}
                {% set metaTitle = seo.prefix ~ metaTitle %}
            {% endif %}
            {% if seo.suffix is not empty and not (metaTitle ends with seo.suffix) %}
                {% set metaTitle = metaTitle ~ seo.suffix %}
            {% endif %}
            {% if metaTitle is not null and metaTitle is not empty %}
                <title>{{ metaTitle[:config["meta_title"]["length"]] }}</title>
                <meta name="title" content="{{ metaTitle[:config["meta_title"]["length"]] }}"/>
            {% endif %}
        {% endblock %}
        {% block seo_meta_description %}
            {% set metaDesc = seo.getMetaDescription()|striptags|trim %}
            {% if metaDesc is not null and metaDesc is not empty %}
                <meta name="description" content="{{ metaDesc[:config["meta_description"]["length"]] }}"/>
            {% endif %}
        {% endblock %}
    {% endblock %}
{% endif %}